.red {
  color: red;
}
.lead {
  color: green;
}
.lineBreak {
  border-style: solid;
  border-color: black;
}
.btn-circle.btn-xl {
  width: 79px;
  height: 79px;
  text-align: center;
  padding-top: 13px;
  font-size: 16px;
  border-radius: 70px;
}
.needed{
  font-size: 10px;
}

.progress2 {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  color: #849397;
}
.progress2 > li {
  position: relative;
  display: table-cell;
  text-align: center;
  font-size: 0.8em;
}
.progress2 > li:before {
  content: attr(data-step);
  display: block;
  margin: 0 auto;
  background: #DFE3E4;
  width: 3em;
  height: 3em;
  text-align: center;
  margin-bottom: 0.25em;
  line-height: 3em;
  border-radius: 100%;
  position: relative;
  z-index: 1000;
}
.progress2 > li:after {
  content: '';
  position: absolute;
  display: block;
  background: #DFE3E4;
  width: 100%;
  height: 0.5em;
  top: 1.25em;
  left: 50%;
  margin-left: 1.5em\9;
  z-index: -1;
}
.progress2 > li:last-child:after {
  display: none;
}
.progress2 > li.is-complete {
  color: #2ECC71;
}
.progress2 > li.is-complete:before, .progress2 > li.is-complete:after {
  color: #FFF;
  background: #2ECC71;
}
.progress2 > li.is-active {
  color: #3498DB;
}
.progress2 > li.is-active:before {
  color: #FFF;
  background: #3498DB;
}
.progress2--medium {
  font-size: 1.5em;
}

.progress2--large {
  font-size: 2em;
}
.progress2 {
  margin-bottom: 3em;
}

ol {
    display: block;
    list-style-type: decimal;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
